// Main Styles - src/styles/main.styl
// Using Stylus CSS preprocessor
// and yeticss - lightweight styles
@import 'yeticss'

// poss colour schemes****

// For dev purposes ***************************

  
.container
  border: 1px solid pink
  
.grid-flex-container
  border: 2px solid yellow
  
.grid-flex-cell
  border: 2px solid black
  
form
  border: 1px solid orange

.survey-introduction
.question
.respondent
.thanks
  border: 3px dashed purple
  min-height: 200px


// ******************************************
body
  background-color: #FBFBFB
  font-family: $font-gotham-rounded
  
h1
  font-family: $font-gotham-rounded
    
header
  padding-top: 50px

.label
  height: 40px

  .label-color
    width: 24px
    height: 24px
    border: 1px solid grey
    border-radius: 20px
    display: inline-block

div
  margin-left: 20px
  margin-right: 20px
  
.button
  margin: 10px