// Main Styles - src/styles/main.styl
// Using Stylus CSS preprocessor
// and yeticss - lightweight styles
@import 'yeticss'

// poss colour schemes****
// #424242 #E9E9E9 #BCBCBC
// #1F1F20 #2B4C7E #567EBB #606D80 #DCE0E6
// #C1C9C8 #A5B5AB #949A8E #615566
// For dev purposes ***************************

  
.container
  border: 1px solid pink
  
.grid-flex-container
  border: 2px solid yellow
  
.grid-flex-cell
  border: 2px solid black
  
form
  border: 1px solid orange

.survey-introduction
.question
.respondent
.thanks
  border: 3px dashed purple
  min-height: 200px


// ******************************************
body
  background-color: #DCE0E6
  font-family: $font-monospaced
  
h1
  font-family: $font-monospaced
    
header
  padding-top: 50px

.label
  height: 40px

  .label-color
    width: 24px
    height: 24px
    border: 1px solid grey
    border-radius: 20px
    display: inline-block

div
  margin-left: 20px
  margin-right: 20px
  
.button
  margin: 10px